.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../../../images/bg-1.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.banner1 {
  width: 35%;
  text-align: left;
}

button {
  padding: 10px 20px;
  background: rgba(16, 16, 172, 0.993);
  margin: 10px 6px;
  border: none;
  transition: ease in;
  -webkit-transition: ease in;
  -moz-transition: ease in;
  -ms-transition: ease in;
  -o-transition: ease in;
  cursor: pointer;
  border-radius: 10px;
  color: aliceblue;
  font-weight: 600;
}
button:hover {
  background: rgb(16, 16, 172);
}
