.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(16, 16, 172);
}

.brand {
  text-decoration: none;
  font-weight: 700;
  color: aliceblue;
  font-size: 32px;
}
.link {
  text-decoration: none;
  font-weight: 700;
  color: aliceblue;
}
ul li {
  display: inline-block;
  margin: 0px 10px;
}
