.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 100px;
}

.card {
  /* background: red; */
  display: flex;
  align-items: center;
  height: 300px;
  width: 200px;
  margin: 20px 15px;
  padding: 20px;
  border-radius: 10px;

  
}
.card:hover{
  box-shadow: 5px 5px 25px lightgray;

}

.card i {
  color: rgb(16, 16, 172);
  border: none;
  margin-bottom: 15px;
}
.card .hr {
  border: 1px solid rgb(26, 26, 233);
  margin: auto;
  /* padding-top: 10px; */
  width: 40%;
}
